@model SE407_Dobachesky.InspectionCodeViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "InspectionCode", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeName)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeName, new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeDesc)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeDesc, new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeDesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-md" />
                    <div class="btn btn-md">@Html.ActionLink("Back to Inspection Codes", "Index")</div>
                </div>
            }
        </div>
    </div>
</div>