@model SE406_Dobachesky.MaintenanceRecordViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "MaintenanceRecord", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceActionId)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceActionId,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.InspectorId)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.InspectorId,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordProjectedStart)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordProjectedStart,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordProjectedEnd)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordProjectedEnd,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordActualStart)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordActualStart,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordActualEnd)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordActualEnd,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MantenanceRecordProjectedCost)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MantenanceRecordProjectedCost,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordActualCost)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordActualCost,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordNotes)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceRecordNotes,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceRecord.InspectorNotes)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.InspectorNotes,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-md" />
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>List of Maintenance Records:</h2>
            <div class="container-fluid">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Maintenance Id</th>
                            <th>Maintenance Action Id</th>
                            <th>Inspector Id</th>
                            <th>Maintenance Projected Start</th>
                            <th>Maintenance Projected End</th>
                            <th>Maintenance Actual Start</th>
                            <th>Maintenance Actual End</th>
                            <th>Maintenance Projected Cost</th>
                            <th>Maintenance Actual Cost</th>
                            <th>Maintenance Notes</th>
                            <th>Inspector Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var MaintenanceRecord in Model.MaintenanceRecordsList)
                        {
                            <tr>
                                <td>@MaintenanceRecord.MaintenanceRecordId</td>
                                <td>@MaintenanceRecord.MaintenanceActionId</td>
                                <td>@MaintenanceRecord.InspectorId</td>
                                <td>@MaintenanceRecord.MaintenanceRecordProjectedStart</td>
                                <td>@MaintenanceRecord.MaintenanceRecordProjectedEnd</td>
                                <td>@MaintenanceRecord.MaintenanceRecordActualStart</td>
                                <td>@MaintenanceRecord.MaintenanceRecordActualEnd</td>
                                <td>@MaintenanceRecord.MantenanceRecordProjectedCost</td>
                                <td>@MaintenanceRecord.MaintenanceRecordActualCost</td>
                                <td>@MaintenanceRecord.MaintenanceRecordNotes</td>
                                <td>@MaintenanceRecord.InspectorNotes</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>