@model SE406_Dobachesky.InspectionCodesViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "InspectionCodes", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCodes.InspectionCodeName)
                    @Html.TextBoxFor(Model => Model.NewInspectionCodes.InspectionCodeName,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCodes.InspectionCodeDesc)
                    @Html.TextBoxFor(Model => Model.NewInspectionCodes.InspectionCodeDesc,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-md" />
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>List of Inspection Codes:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Inspection Code Id</th>
                        <th>Inspection Code Name</th>
                        <th>Inspection Code Description</th>
                    </tr>
                    @foreach (var InspectionCode in Model.InspectionCodesList)
                    {
                        <tr>@InspectionCode.InspectionCodeId</tr>
                        <tr>@InspectionCode.InspectionCodeName</tr>
                        <tr>@InspectionCode.InspectionCodeDesc</tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>