@model SE406_Dobachesky.BridgeViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Bridge", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.MaterialDesignId)
                    @Html.TextBoxFor(Model => Model.NewBridge.MaterialDesignId,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.ConstructionDesignId)
                    @Html.TextBoxFor(Model => Model.NewBridge.ConstructionDesignId,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.FunctionalClassId)
                    @Html.TextBoxFor(Model => Model.NewBridge.FunctionalClassId,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.StatusId)
                    @Html.TextBoxFor(Model => Model.NewBridge.StatusId,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.CountyId)
                    @Html.TextBoxFor(Model => Model.NewBridge.CountyId,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.NbiNumber)
                    @Html.TextBoxFor(Model => Model.NewBridge.NbiNumber, 
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.Rating)
                    @Html.TextBoxFor(Model => Model.NewBridge.Rating,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.RouteNumber)
                    @Html.TextBoxFor(Model => Model.NewBridge.RouteNumber,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.City)
                    @Html.TextBoxFor(Model => Model.NewBridge.City,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.IntersectingFeature)
                    @Html.TextBoxFor(Model => Model.NewBridge.IntersectingFeature,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.CarriedFeature)
                    @Html.TextBoxFor(Model => Model.NewBridge.CarriedFeature,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.Location)
                    @Html.TextBoxFor(Model => Model.NewBridge.Location,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.Built)
                    @Html.TextBoxFor(Model => Model.NewBridge.Built,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.Reconstructed)
                    @Html.TextBoxFor(Model => Model.NewBridge.Reconstructed,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.TotalLength)
                    @Html.TextBoxFor(Model => Model.NewBridge.TotalLength,
                        new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-md" />
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>List of Bridges:</h2>
            <div class="container-fluid">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Bridge Id</th>
                            <th>Material Design Id</th>
                            <th>Construction Design Id</th>
                            <th>Functional Class Id</th>
                            <th>Status Id</th>
                            <th>County Id</th>
                            <th>Nbi Number</th>
                            <th>Rating</th>
                            <th>Route Number</th>
                            <th>City</th>
                            <th>Intersecting Feature</th>
                            <th>Carried Feature</th>
                            <th>Location</th>
                            <th>Built</th>
                            <th>Reconstructed</th>
                            <th>Total Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Bridge in Model.BridgesList)
                        {
                            <tr>
                                <td>@Bridge.BridgeId</td>
                                <td>@Bridge.MaterialDesignId</td>
                                <td>@Bridge.ConstructionDesignId</td>
                                <td>@Bridge.FunctionalClassId</td>
                                <td>@Bridge.StatusId</td>
                                <td>@Bridge.CountyId</td>
                                <td>@Bridge.NbiNumber</td>
                                <td>@Bridge.Rating</td>
                                <td>@Bridge.RouteNumber</td>
                                <td>@Bridge.City</td>
                                <td>@Bridge.IntersectingFeature</td>
                                <td>@Bridge.CarriedFeature</td>
                                <td>@Bridge.Location</td>
                                <td>@Bridge.Built</td>
                                <td>@Bridge.Reconstructed</td>
                                <td>@Bridge.TotalLength</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>